$tabletLandscape: 1280px;
$tabletPortrait: 768px;
$mobileLandscape: 640px;
$mobile: 510px;
body {
    font-family: 'Roboto' !important;
  }
.section-container {
    max-width: 1615px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @media (max-width: 1800px) {
        max-width: 1215px;
    }
    @media (max-width: 1400px) {
        max-width: 1115px;
    }
    @media (max-width: $tabletLandscape) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (max-width: 992px) and (min-width: $mobile) {
        max-width: 90%;
    }
    @media (max-width: $mobile) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#root {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media print {
    * {
        display: none !important;
    }
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./fonts/Roboto-Light.ttf");
}
